<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/abrahamora/Desktop/SGBBAPP/SGBBAPPAutomation/src/test/java/testcases/VerifyChooseModem.java">
        <classes>
            <class name="testcases.VerifyChooseModem">
                <methods>
                    <include name="verifyChooseModem"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>